$Grayish-blue: hsla(234, 25%, 52%, 1);
$Dark-blue: hsla(234, 53%, 16%, 1);
$Gray: hsla(233, 10%, 56%, 1);
$Dark-pink: hsla(341, 92%, 62%, 1);
$Light-pink: hsla(341, 100%, 83%, 1);
$White: hsla(0, 0%, 100%, 1);
$Orange-Pink-Gradient: linear-gradient(to bottom, 
	hsla(13, 100%, 64%, 1), 
	hsla(322, 87%, 55%, 1));
$Blue-Pink-Gradient: linear-gradient(to bottom, hsla(237, 100%, 64%, 1),hsla(322, 87%, 55%, 1));